*,
::before,
::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(234, 229, 210);
  max-width: 100vh;
  overflow-x: hidden;
  
}

#about {
  position: relative;
}

/* #about .wrapper {
  display: flex;
  justify-content: space-between;
} */

.top-container {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/image01.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3vw;
  color: rgb(207, 207, 207);
  max-width: 100vw;
}

.second-container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  
  /* max-width: 100vw; */
  
}
.top-container h1 {
  margin: 20% 0 0;
}

.top-container h6 {
  padding: 15px 0 5%;
  margin: 0;
}

.arrow {
  color: rgb(207, 207, 207);
  -webkit-animation-name: arrow-shake;
  animation-name: arrow-shake;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  font-size: 3vw;
}

@-webkit-keyframes arrow-shake {
  from {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  45% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@keyframes arrow-shake {
  from {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  45% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  padding-left: 15%;
  
  
}

.profile-picture {
  
  margin: 10% 0% 10% 15%;
  padding: 5%;
}

.profile-contents {
  margin: 10% 10% 10% 10%;
  padding: 5px;
  text-align: center;
  width: 500px;
}

.profile-contents h2 {
  font-size: 2vw;
  text-align: center;
}

.profile-contents p {
  font-size: 1vw;
}

.profile-Image {
  width: auto;
  height: auto;
  scale: 1.5;
}

/* Navbar */

.navbar {
  background-color: rgb(234, 229, 210);
  max-width: 100vw;
}

.navbar a {
  float: right;
  color: #a5a4a4;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  /* background-color: #ddd; */
  color: black;
}

.navbar a.active {
  /* background-color: #04AA6D; */
  color: white;
  margin-right: 100px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #41423d;
  border-width: 6px;
  width: 10%;
}

.wave {
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
  transform-origin: 70% 70%;
  display: inline-block;
  width: 30px;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
